<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="nopCommerce">

	<listeners>

		<listener
			class-name="com.nopcommercepractice.utilities.Reporting" />
	</listeners>

	<test thread-count="5" name="Test1">
		<parameter name="browser" value="chrome" />

		<classes>
			<class
				name="com.nopcommercepractice.testCases.TC_LoginTest_001" />
				<class
				name="com.nopcommercepractice.testCases.TC_LoginDDT_002" />
		</classes>
	</test>  <!-- Test -->

	<test name="Test2">
		<parameter name="browser" value="firefox" />

		<classes>
			<class
				name="com.nopcommercepractice.testCases.TC_LoginTest_001" />
				<class
				name="com.nopcommercepractice.testCases.TC_LoginDDT_002" />
		</classes>
	</test>  <!-- Test -->

</suite> <!-- Suite -->
